############################################################################################
## fpga_beagleSDR2.ucf
##
## Contains assignment and io standard information for all used pins in FPGA Spartan-3S500E
## Author: Michel He, <mhe747@gmail.com> in SUMPx15 Project.
##
## Defines all inputs and waves that represent pins of the fpga from BeagleSDR2   
##
## https://github.com/mhe747/BeagleSDR2
##
############################################################################################


NET "clockIn"  LOC = "P80" | IOSTANDARD = LVCMOS33 ;
#NET "clockIn" CLOCK_DEDICATED_ROUTE = FALSE;
NET osc125_clk LOC = "p184" | IOSTANDARD=LVCMOS33;

# RF-FREQUENCY 137.5MHz-4400MHz VCO LO GENERATOR ADF4350 
#NET "LO_REFIN" LOC="P177" | IOSTANDARD = LVCMOS33 ;
#NET "LO_SCLK" LOC="P175" | IOSTANDARD = LVCMOS33 ;
#NET "LO_SI" LOC="P174" | IOSTANDARD = LVCMOS33 ;
#NET "LO_LE" LOC="P172" | IOSTANDARD = LVCMOS33 ;
#NET "LO_MUXOUT" LOC="P171" | IOSTANDARD = LVCMOS33 ;
#NET "LO_SW" LOC="P168" | IOSTANDARD = LVCMOS33 ;
#NET "LO_ENABLE" LOC="P167" | IOSTANDARD = LVCMOS33 ;

# SOUND CODEC SGTL5000
#NET "SND_CCLK" LOC="P91" | IOSTANDARD = LVCMOS33 ;
#NET "SND_CDAT" LOC="P93" | IOSTANDARD = LVCMOS33 ;
#NET "SND_CDIN" LOC="P94" | IOSTANDARD = LVCMOS33 ;
#NET "SND_CDOUT" LOC="P96" | IOSTANDARD = LVCMOS33 ;
#NET "SND_SYSCLK" LOC="P97" | IOSTANDARD = LVCMOS33 ;
#NET "SND_LRCK" LOC="P98" | IOSTANDARD = LVCMOS33 ;
#NET "SND_MCK" LOC="P99" | IOSTANDARD = LVCMOS33 ;

# SDRAM MT48LC16M16A2P-7E
#NET "SDRAM_BA<1>" LOC="P165" | IOSTANDARD = LVCMOS33 ;
#NET "SDRAM_BA<0>" LOC="P164" | IOSTANDARD = LVCMOS33 ;
#NET "SDRAM_nWE" LOC="P163" | IOSTANDARD = LVCMOS33 ;
#NET "SDRAM_CKE" LOC="P162" | IOSTANDARD = LVCMOS33 ;
#NET "SDRAM_CLK" LOC="P178" | IOSTANDARD = LVCMOS33 ;
#NET "SDRAM_DQM<1>" LOC="P160" | IOSTANDARD = LVCMOS33 ;
#NET "SDRAM_DQM<0>" LOC="P108" | IOSTANDARD = LVCMOS33 ;
#NET "SDRAM_nCAS" LOC="P107"  | IOSTANDARD = LVCMOS33 ;
#NET "SDRAM_nRAS" LOC="P106"  | IOSTANDARD = LVCMOS33 ;
#NET "SDRAM_ADDR<0>"  LOC = "P126" | IOSTANDARD = LVCMOS33 ;
#NET "SDRAM_ADDR<1>"  LOC = "P127" | IOSTANDARD = LVCMOS33 ;
#NET "SDRAM_ADDR<2>"  LOC = "P128" | IOSTANDARD = LVCMOS33 ;
#NET "SDRAM_ADDR<3>"  LOC = "P129" | IOSTANDARD = LVCMOS33 ;
#NET "SDRAM_ADDR<4>"  LOC = "P132" | IOSTANDARD = LVCMOS33 ;
#NET "SDRAM_ADDR<5>"  LOC = "P133" | IOSTANDARD = LVCMOS33 ;
#NET "SDRAM_ADDR<6>"  LOC = "P134" | IOSTANDARD = LVCMOS33 ;
#NET "SDRAM_ADDR<7>"  LOC = "P135" | IOSTANDARD = LVCMOS33 ;
#NET "SDRAM_ADDR<8>"  LOC = "P137" | IOSTANDARD = LVCMOS33 ;
#NET "SDRAM_ADDR<9>"  LOC = "P138" | IOSTANDARD = LVCMOS33 ;
#NET "SDRAM_ADDR<10>"  LOC = "P123" | IOSTANDARD = LVCMOS33 ;
#NET "SDRAM_ADDR<11>"  LOC = "P139" | IOSTANDARD = LVCMOS33 ;
#NET "SDRAM_ADDR<12>"  LOC = "P140" | IOSTANDARD = LVCMOS33 ;
#NET "SDRAM_DQ<0>"  LOC = "P122" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;
#NET "SDRAM_DQ<1>"  LOC = "P120" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;
#NET "SDRAM_DQ<2>"  LOC = "P119" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;
#NET "SDRAM_DQ<3>"  LOC = "P116" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;
#NET "SDRAM_DQ<4>"  LOC = "P115" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;
#NET "SDRAM_DQ<5>"  LOC = "P113" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;
#NET "SDRAM_DQ<6>"  LOC = "P112" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;
#NET "SDRAM_DQ<7>"  LOC = "P109" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;
#NET "SDRAM_DQ<8>"  LOC = "P153" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;
#NET "SDRAM_DQ<9>"  LOC = "P152" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;
#NET "SDRAM_DQ<10>"  LOC = "P151" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;
#NET "SDRAM_DQ<11>"  LOC = "P150" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;
#NET "SDRAM_DQ<12>"  LOC = "P147" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;
#NET "SDRAM_DQ<13>"  LOC = "P146" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;
#NET "SDRAM_DQ<14>"  LOC = "P145" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;
#NET "SDRAM_DQ<15>"  LOC = "P144" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;

# ADC ADS5522 - analog signal sampling inputs
NET input<0>  LOC="P204" | IOSTANDARD=LVCMOS33 | PULLUP;                       # A0 
NET input<1>  LOC="P200" | IOSTANDARD=LVCMOS33 | PULLUP;                       # A1
NET input<2>  LOC="P199" | IOSTANDARD=LVCMOS33 | PULLUP;                       # A2
NET input<3>  LOC="P197" | IOSTANDARD=LVCMOS33 | PULLUP;                       # A3
NET input<4>  LOC="P196" | IOSTANDARD=LVCMOS33 | PULLUP;                       # A4
NET input<5>  LOC="P194" | IOSTANDARD=LVCMOS33 | PULLUP;                       # A5
NET input<6>  LOC="P193" | IOSTANDARD=LVCMOS33 | PULLUP;                       # A6
NET input<7>  LOC="P192" | IOSTANDARD=LVCMOS33 | PULLUP;                       # A7
NET input<8>  LOC="P190" | IOSTANDARD=LVCMOS33 | PULLUP;                       # A8
NET input<9>  LOC="P189" | IOSTANDARD=LVCMOS33 | PULLUP;                       # A9
NET input<10> LOC="P187" | IOSTANDARD=LVCMOS33 | PULLUP;                       # A10
NET input<11> LOC="P186" | IOSTANDARD=LVCMOS33 | PULLUP;                       # A11
NET input<12> LOC="P185" | IOSTANDARD=LVCMOS33 | PULLUP;                       # A12
NET input<13> LOC="P183" | IOSTANDARD=LVCMOS33 | PULLUP;                       # A13
NET ADC_SCLK  LOC = "P205" | IOSTANDARD = LVCMOS33;
NET ADC_SDATA LOC = "P203" | IOSTANDARD = LVCMOS33;
NET ADC_SEN   LOC = "P202" | IOSTANDARD = LVCMOS33;
NET ADC_RESET LOC = "P179" | IOSTANDARD = LVCMOS33;
NET ADC_CLKP LOC = "P180" | IOSTANDARD = LVCMOS33;
#NET ADC_OVR  LOC = "P181" | IOSTANDARD = LVCMOS33;
#NET ADC_CLKOUT  LOC = "P161" | IOSTANDARD = LVCMOS33;

# DAC AD9764 - wave generator samples wave 
NET "wave<0>"  LOC = "P2" | IOSTANDARD = LVCMOS33 ;              #D0
NET "wave<1>"  LOC = "P3" | IOSTANDARD = LVCMOS33 ;              #D1
NET "wave<2>"  LOC = "P4" | IOSTANDARD = LVCMOS33 ;              #D2
NET "wave<3>"  LOC = "P5" | IOSTANDARD = LVCMOS33 ;              #D3
NET "wave<4>"  LOC = "P8" | IOSTANDARD = LVCMOS33 ;              #D4
NET "wave<5>"  LOC = "P9" | IOSTANDARD = LVCMOS33 ;              #D5
NET "wave<6>"  LOC = "P11" | IOSTANDARD = LVCMOS33 ;             #D6
NET "wave<7>"  LOC = "P12" | IOSTANDARD = LVCMOS33 ;             #D7
NET "wave<8>"  LOC = "P15" | IOSTANDARD = LVCMOS33 ;             #D8
NET "wave<9>"  LOC = "P16" | IOSTANDARD = LVCMOS33 ;             #D9
NET "wave<10>"  LOC = "P18" | IOSTANDARD = LVCMOS33 ;            #D10
NET "wave<11>"  LOC = "P19" | IOSTANDARD = LVCMOS33 ;            #D11
NET "wave<12>"  LOC = "P22" | IOSTANDARD = LVCMOS33 ;            #D12
NET "wave<13>"  LOC = "P23" | IOSTANDARD = LVCMOS33 ;            #D13
NET "DAC_CLK"  LOC = "P24" | IOSTANDARD = LVCMOS33 ;
NET "DAC_SLEEP"  LOC = "P25" | IOSTANDARD = LVCMOS33 ;
#NET "DAC_MODE"  LOC = "P33" | IOSTANDARD = LVCMOS33 ;

# BEAGLEBOARD-XM CONNECTOR DIL 2x14
#NET "FPGA_LVS_D"  LOC = "P28" | IOSTANDARD = LVCMOS33 ;           
#NET "FPGA_LVS_E"  LOC = "P29" | IOSTANDARD = LVCMOS33 ;
#NET "FPGA_BEAGLE_nRESET"  LOC = "P30" | IOSTANDARD = LVCMOS33 ;           
#NET "FPGA_BEAGLE_nUSB"  LOC = "P31" | IOSTANDARD = LVCMOS33 ;
#NET "FPGA_BEAGLE_GPIO162"  LOC = "P34" | IOSTANDARD = LVCMOS33 ;           
#NET "FPGA_BEAGLE_GPIO133"  LOC = "P35" | IOSTANDARD = LVCMOS33 ;
#NET "FPGA_BEAGLE_GPIO157"  LOC = "P36" | IOSTANDARD = LVCMOS33 ;           
#NET "FPGA_BEAGLE_GPIO134"  LOC = "P39" | IOSTANDARD = LVCMOS33 ;
#NET "FPGA_BEAGLE_GPIO136"  LOC = "P40" | IOSTANDARD = LVCMOS33 ;           
#NET "FPGA_BEAGLE_GPIO137"  LOC = "P41" | IOSTANDARD = LVCMOS33 ;
#NET "FPGA_LVS_C"  LOC = "P42" | IOSTANDARD = LVCMOS33 ;           
#NET "FPGA_LVS_F"  LOC = "P45" | IOSTANDARD = LVCMOS33 ;
#NET "FPGA_BEAGLE_GPIO138"  LOC = "P47" | IOSTANDARD = LVCMOS33 ;           
#NET "FPGA_BEAGLE_GPIO139"  LOC = "P48" | IOSTANDARD = LVCMOS33 ;
#NET "FPGA_EXT_PWREN"  LOC = "P60" | IOSTANDARD = LVCMOS33 ;           
#NET "FPGA_SPI_CS"  LOC = "P64" | IOSTANDARD = LVCMOS33 ;           
#NET "FPGA_SPI2_CS"  LOC = "P69" | IOSTANDARD = LVCMOS33 ;
#NET "FPGA_SPI2_MOSI"  LOC = "P71" | IOSTANDARD = LVCMOS33 ;           
#NET "FPGA_SPI_MOSI"  LOC = "P72" | IOSTANDARD = LVCMOS33 ;
#NET "FPGA_SPI2_MISO"  LOC = "P74" | IOSTANDARD = LVCMOS33 ;           
#NET "FPGA_SPI2_SCLK"  LOC = "P75" | IOSTANDARD = LVCMOS33 ;
#NET "FPGA_PCLK"  LOC = "P77" | IOSTANDARD = LVCMOS33 ;        #input clock 1kHz-68Mhz generated by LTC6904
#NET "FPGA_nPCLK"  LOC = "P78" | IOSTANDARD = LVCMOS33 ;       #input clock 1kHz-68Mhz generated by LTC6904
#NET "FPGA_SPI_MISO"  LOC = "P83" | IOSTANDARD = LVCMOS33 ;
#NET "FPGA_SPI_SCLK"  LOC = "103" | IOSTANDARD = LVCMOS33 ;

#THE FOLLOWING NETS ARE USED BY BEAGLEBOARD-XM TO CONTROL PCF8574 AND LTC6904 DEVICES BY I2C
#BEAGLE_GPIO168, BEAGLE_GPIO183

# LED
NET "led<0>"  LOC = "P49" | IOSTANDARD = LVCMOS33 ;
NET "led<1>"  LOC = "P50" | IOSTANDARD = LVCMOS33 ;

# RESET - BUTTON AT PCB BOARD'S NORTH
NET "resetSwitch"  LOC = "P43" | IOSTANDARD = LVCMOS33 | PULLUP ;   #FPGA_USER_BTN1

## RS232 - JP5
NET "rx"  LOC = "p101" | IOSTANDARD = LVCMOS33 ;
NET "tx"  LOC = "p100" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

## RS232 - JP3
#NET "rx2"  LOC = "p63" | IOSTANDARD = LVCMOS33 ;
#NET "tx2"  LOC = "p62" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
